.stack__card.web-contents {
  width: 100%;
  height: 1000vh;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./assets/images/web-product-background.svg");
  color: var(--white);
}
.web-product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.web-product-header {
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.web-product-header span {
  position: relative;
  color: #ff3399;
}

.web-product-header h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.web-product-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.web-product-list-item {
  width: 100%;
  display: flex;

  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.web-product-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.web-product-content-left p {
  line-height: 2;
  font-weight: 400;
}
.web-product-content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.web-product-content-right .blob-svg {
  width: 60%;
  position: relative;
}
.web-product-content-right .blog-image {
  width: 25%;
  position: absolute;
}

.separating-us-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.separating-us-header {
  width: 100%;

  line-height: 1.5;
  display: flex;
  flex-direction: column;
  /*  gap: -5px;*/
  justify-content: center;
  align-items: center;
}
.separating-us-header h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.separating-us-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*  gap: 20px;*/
  align-items: center;
  justify-content: center;
  /*  margin: 0px 0;*/
}
.separating-us-content-left {
  justify-self: flex-start;
  align-self: flex-start;
  position: relative;
  height: 100%;
}
.sep-us-container h2 {
  font-size: 2.8rem;
  font-weight: 700;
  /*  margin-bottom: 20px;*/
}
.sep-us-container button {
  width: 200px;
  height: 50px;
  background-color: var(--primary);
  border: 2px solid var(--white);
  border-radius: 10px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.separating-us-content-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.separating-us-content-right img {
  width: 450px;
}
.separating-us-content-left p {
  margin-bottom: 50px;
  padding-top: 10px;
}
.about-us-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.about-us-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.about-us-left {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}
.about-us-left h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.about-us-left p {
  line-height: 2;
  font-weight: 400;
}
.about-us-left button {
  padding: 20px 60px;
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-us-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-right img {
  width: 90%;
  border-radius: 12px;
}
.our-clan-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.our-clan-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.our-clan-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
}
.our-clan-left p {
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;
}
.our-clan-left h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.our-clan-left img {
  width: 70%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
.our-clan-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.our-clan-right h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.our-clan-right h4 {
  font-size: 2.5rem;
  font-weight: 400;
}
.our-clan-right p {
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding-top: 30px;
}
.our-clients-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.our-clients-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-clients-top p {
  font-weight: 400;
  font-size: 1.5rem;
}
.our-clients-top h3 {
  font-weight: 700;
  font-size: 2.5rem;
}
.our-client-button {
  padding: 20px 60px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.our-clients-carousel {
  width: 100%;
  height: max-content;
}
.slider1-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slider1 {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-behavior: smooth;
}

.slider1 .card1 {
  flex: 0 0 auto;
}

.slider1 .card1 img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.slider1::-webkit-scrollbar {
  display: none;
}

.slider1-container .fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 30px;
  color: #3b3838;
  cursor: pointer;
}

.slider1-container .fa-arrow-right {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 30px;
  color: #312f2f;
  cursor: pointer;
}

@media (max-width: 767px) {
  .slider1 .card1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.glider-contain {
  width: 100%;
  min-height: 100vh;
  background-color: #ff3399;
}

.technologies-implemented-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0% 8%;
  color: var(--white);
  margin: 80px 0;
}
.technologies-implemented-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technologies-implemented-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 30px 0;
}
.technologies-implemented-top h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-screen-content p {
  width: 100%;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.stack-cards-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8% 8%;
  color: var(--white);
  margin: 60px 0;
}
.stack-card-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.lets-discuss-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}
.lets-discuss-container h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
.lets-discuss-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .sep-us-content-right {
    width: 90%;
  }
  .stack__card.web-contents {
    height: 1420vh;
  }
  .web-product-container {
    width: 100%;
    height: unset;
  }
  .web-product-header h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .web-product-content-right .blog-image {
    width: 50%;
    position: absolute;
  }
  .web-product-lists {
    margin: 40px 0;
  }

  .web-product-list-item p {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .web-product-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .web-product-content-left p {
    line-height: 2;
    font-weight: 400;
  }

  .web-product-content-right img {
    width: 100%;
  }

  .separating-us-container {
    width: 100%;
    min-height: 80vh;
  }
  .sliderSep-container {
    height: unset;
  }
  .separating-us-header h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .separating-us-content-left p {
    font-size: 0.9rem;
  }
  .separating-us-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: unset;
  }
  .separating-us-content-left p {
    margin-bottom: 0px;
  }
  .separating-us-content-left {
    justify-self: flex-start;
    align-self: flex-start;
    position: relative;
    min-height: 100vh;
  }
  .separating-us-content-left h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .separating-us-content-right img {
    width: 90%;
  }

  .stack-cards-container {
    margin: 0;
  }
  .about-us-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .about-us-left {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
  }
  .about-us-left h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .about-us-left p {
    line-height: 2;
    font-weight: 400;
    font-size: 0.9rem;
    text-align: justify;
  }
  .about-us-left button {
    padding: 10px 40px;
  }
  .about-us-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-right img {
    width: 100%;
    border-radius: 20px;
  }

  .our-clan-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .our-clan-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
  }
  .our-clan-left p {
    line-height: 2;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .our-clan-left img {
    width: 280px;
  }
  .our-clan-left h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .our-clan-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .our-clan-right h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .our-clan-right h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
  .our-clan-right p {
    line-height: 2;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
  }
  .our-clients-container {
    margin: 0;
  }
  .our-clients-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .our-clients-top p {
    font-weight: 400;
    font-size: 1rem;
  }
  .our-clients-top h3 {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
  }
  .slider1 .card1 img {
    width: 280px;
    height: 280px;
    object-fit: cover;
  }
  .slider1-container {
    height: 350px;
  }
  .slider1-container .fa-arrow-left {
    position: absolute;
    top: 20%;
  }
  .slider1-container .fa-arrow-right {
    position: absolute;
    top: 20%;
  }
  .technologies-implemented-container {
    margin: 0;
  }
  .lets-discuss-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
  }
  .lets-discuss-container h3 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    width: 90%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .stack__card.web-contents {
    height: 1380vh;
  }
}
.sliderSep-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.sliderSep {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-behavior: smooth;
}

.sliderSep .cardSep {
  flex: 0 0 auto;
  width: 100vw; /* Make each card take up the full width of the viewport */
}

.sliderSep::-webkit-scrollbar {
  display: none;
}
.sep-us-container {
  position: relative;
}
.sep-us-container .fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.sep-us-container .fa-arrow-right {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

/*button style*/
.btn-53 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #f2f2f2, 4px 2px 16px 0px rgb(95 157 231 / 48%);
  text-decoration: none;
}

.btn-53:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.btn-53:active {
  box-shadow: none;
}
.fa-arrow-right {
  color: pink;
}

.sep-us-container {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 80px 0;
}
.sep-us-content {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.sep-us-content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.sep-us-content-left img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width:767px) {
  .sep-us-content-right {
    width: 90%;
}
.sep-us-content-left img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

}
.sep-us-content-right p {
  font-size: 20px;
  text-align: justify;
}
